#specBuilderSetting h1 {
    border-bottom: 0.1rem solid;
    margin: 0.5rem;
}
.specBuilder_Contents_item{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: gray;
    border-radius: 5rem;
    margin: 1rem;
    user-select: none;
}
.specBuilder_FolderTitle {
    width: max-content;
    min-width: 8rem;
    text-overflow: ellipsis;
}
